@{
    ViewBag.Title = "O aplikaciji";
}
<h2>Dobrodošli u aplikaciju za pretraživanje časopisa.</h2>
<h3>Molimo, odaberite tablicu</h3>

@Html.ActionLink("Autori", "Index", "Autori") |
@Html.ActionLink("Časopisi", "Index", "Casopis") |
@Html.ActionLink("Članci", "Index", "Clancis")
