@{
    ViewBag.Title = "Aplikacija za pretraživanje časopisa";
}

<div class="jumbotron">
    <h1>Aplikacija za pretraživanje časopisa</h1>
    <p class="lead">Dobrodošli u aplikaciju za pretraživanje časopisa.</p>
</div>

