@model PretrazivacCasopisa.Models.Autori

@{
    ViewBag.Title = "Detalji";
}

<h2>Detalji</h2>

<div>
    <h4>Autori</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ImeIPrezime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImeIPrezime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Uredi", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Natrag na popis", "Index")
</p>
